.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* background: black;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.header {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  background-color: coral;
  padding: 10px 10px;
  height: 140px;
  width: unset;
  margin: 5px 5px 5px 5px;

  border-radius: 15px 50px 30px;
}

.header li:hover {
  background-color: lime;
  color: black;
  font-size: 150%;
}
.header li {
  list-style-type: none;
  float: right;
  color: black;
  text-align: center;
  padding: 5px;
  white-space: 50px;
  text-decoration: none;
  font-size: 18px;
  line-height: 3px;
  border-radius: 4px;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  flex-direction: unset;
}

/* .header .menu {
  display: flex;
  flex-flow: row-reverse wrap;
} */

img {
  height: 85px;

  border-radius: 15px 50px;
}
img:hover {
  opacity: 0.5;
}
/* .container {
  box-sizing: border-box;
  border-radius: 15px 50px 30px;
  text-align: center;
  background-color:darkslategray;
} */

/*Home page css*/

.container {
  text-align: center;
  box-sizing: content-box;
  border-radius: 15px 50px 30px;
  background-color: gray;
}
/* We’ll set some colors and center everything. */

.homepara {
  text-align: center;
  font-size: 15px;
  font-family: cursive;
}

body {
  background: #4c268f;
}

/* We set the position to relative so that we can stack a blurred pseudo element on top of the original text */

span {
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

/* We create a pseudo element and blur it using the SVG filter. We’ll grab the content from the custom HTML attribute. */

span:before {
  position: absolute;
  left: 50%;
  top: 20%;
  /* content: attr(filter-content);

  filter: url(#motion-blur-filter); */
  transform: translate(-50%, -50%);
}

/* We hide the SVG filter element from the DOM as it would take up some space */

svg {
  display: none;
}

.container2 img {
  margin-top: 20px;
  width: 80%;
  height: 550px;
  opacity: 0.05em;
}

.overimage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*footer css*/

.footer {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  background-color: coral;
  padding: 10px 10px;
  height: unset;
  width: unset;
  margin: 5px 5px 5px 5px;
  border-radius: 15px 50px 30px;
}

.footer li {
  list-style-type: none;
  list-style-position: "";
  float: left;
  color: black;
  text-align: left;
  padding: 5px;
  white-space: 25px;
  text-decoration: none;
  font-size: 18px;
  line-height: 3px;
  border-radius: 4px;
}

.footer li:hover {
  background-color: lime;
  color: black;
  font-size: 150%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
